@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
p {
  margin-bottom: 0;
  font-size: 18px;
  color: #999999;
  line-height: 26px;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.top-header .banner-txt-img .bnr-txt .btn-primary {
  color: white !important;
  background-color: transparent !important;
  border-color: #4d4d52 !important;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px 25px !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.top-header .banner-txt-img .bnr-txt .btn-primary:hover {
  background: #008ed6 !important;
}

/********header start******/
.top-header {
  background-image: url(../images/banner-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 640px;
}

.top-header .me-auto {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.top-header .nav-item {
  padding-right: 20px;
}

.top-header .nav-item .nav-link {
  padding-left: 0 !important;
}

.top-header .nav-item a {
  font-size: 16px;
  font-weight: 600;
  color: #fffefe !important;
  display: inline-block;
}

.top-header .nav-item::after {
  content: '';
  display: block;
  width: 0;
  height: 2.5px;
  background: #008ed6;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.top-header .nav-item:hover::after {
  width: 80%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.top-header .banner-txt-img {
  position: relative;
}

.top-header .banner-txt-img img {
  position: absolute;
  right: 0;
  top: 61px;
}

.top-header .banner-txt-img .bnr-txt {
  padding-top: 100px;
}

.top-header .banner-txt-img .bnr-txt span {
  color: #008ed6;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 30px;
}

.top-header .banner-txt-img .bnr-txt h1 {
  color: white;
  font-size: 48px;
  font-weight: 600;
  padding: 25px 0;
}

.top-header .banner-txt-img .bnr-txt p {
  padding-bottom: 50px;
}

.top-header .banner-txt-img .bnr-txt .btn-primary {
  margin-right: 20px;
}

.top-header .banner-txt-img .bnr-txt .pad-x {
  padding-left: 50px;
}

/********header ends******/
/*******feature-section-starts******/
.features-section {
  padding-top: 80px;
}

.features-section .header {
  position: relative;
}

.features-section .header span {
  color: #008ed6;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.features-section .header h3 {
  font-size: 36px;
  font-weight: 500;
  color: black;
  font-size: 36px;
  margin: 15px 0;
}

.features-section .header::after {
  content: '';
  position: absolute;
  width: 55px;
  height: 2px;
  background: #008ed6;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

/*******feature-section-ends******/
/**********review-section-starts**********/
.review-section .container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.review-section .container-fluid .carouser-inner .carousel-item img {
  position: relative;
}

.review-section .container-fluid .carouser-inner .carousel-item .container {
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

/**********review-section-ends**********/
/*# sourceMappingURL=custom.css.map */